
* { 
    margin:0px;
    padding:0px;
}

.barra {
    width: 100%;
    height:70px;
    background-color: blueviolet;
    border: rgb(63, 5, 63) solid;
    left:0;
    top:15%;
} 
h1 {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        font-size: 30px;
        text-align: center;
        padding-top: 2%;

    }
.container {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

.section-flex{
    display: flex;
    flex-wrap: wrap;
    
    }
    
.cuadro1 {
    width: 0;
    height: 0;
    border: solid black;
    border-bottom: 80px rgb(0, 162, 255) solid;
    border-left:  80px greenyellow solid;
    border-right: 80px rgb(230, 10, 200) solid;
    border-top: 80px rgb(82, 6, 112) solid;
    position: absolute;
    left: 18%;
    top:10%;
} 

.contorno {
    margin-left: 6%;
    margin-right: 6%;
    width: 200px;
    height: 200px;
    padding-left: 3%;
    margin-top: 2%;
    background-color:white;
    border: solid black;
    position: relative;   

}

.cuadro2 {
    width: 130px;
    height: 180px;
    background-color: rgb(226, 71, 14);
    border: solid black;
    border-radius: 50%;
    position: absolute;
    left: 25%;
    top:3%;
}

.cuadro3 {
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    border-bottom: 130px solid rgb(28, 194, 186);
    position: absolute;
    left: 10%;
    top:15%;
}

.cuadro4 {
    width: 180px;
    height: 120px;
    background-color: rgb(45, 204, 13);
    border: solid black;
    border-radius: 50%;
    position: absolute;
    left: 10%;
    top:20%;
}

.cuadro5 {
    width: 120px;
    height: 120px;
    background-color: fuchsia;
    border: solid black;
    transform: rotate(45deg);
    position: absolute;
    left: 25%;
    top:20%;
}

.cuadro6 {
    width: 0;
    height: 0;
    border-bottom: 70px blue solid;
    border-left:  70px rgba(245, 241, 7, 0.89) solid;
    border-right: 70px solid transparent;
    border-top: 70px green solid;
    border-radius: 100%;
    position: absolute;
    left: 25%;
    top:15%;
}

footer {
    background-color: blueviolet;
    height: 80px;
    margin-top: 2%;
}